<div class="jumbotron">
    <img src="https://upload.wikimedia.org/wikipedia/en/5/5a/Premier_League.svg" class="img-responsive center-block" alt="English Premier League"><br>
</div>
<div class="panel panel-default">
  <div class="panel-heading"><h2>{{leagueSeason}}</h2></div>
  <div class="panel-body">
    <ul class="main-toggle nav nav-pills">
      <li><a href="#/">Standings</a></li>
      <li class="active"><a href="#/schedule">Schedule</a></li>
    </ul>

    <div class="panel-body">
      <div class="matchday-group" ng-repeat="fixture in fixtures">
        <h2>Matchday {{fixture.matchDay}}</h2>
        <div class="well" ng-repeat="day in fixture.dates">
          <h4>{{day.date}}</h4>
          <div class="row">
            <div class="col-sm-12 col-md-6 match-info" ng-repeat="game in day.games">
              <div class="thumbnail">
                <div class="caption">
                  <div class="home-team">
                    {{game.homeName}}
                    <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                  </div>
                  <div class="away-team">
                    {{game.awayName}}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

