<div class="jumbotron">
  <img src="https://upload.wikimedia.org/wikipedia/en/5/5a/Premier_League.svg" class="img-responsive center-block" alt="English Premier League"><br>
</div>
<div class="navbar navbar-default">
  <ul class="main-toggle nav navbar-nav">
    <li><a href="#/">Standings</a></li>
    <li class="active"><a href="#/schedule">Schedule</a></li>
  </ul>
  <strong class="navbar-text navbar-right">{{leagueSeason}}</strong>
</div>
<div class="matchday-group panel panel-default" ng-repeat="fixture in fixtures">
  <div class="panel-heading">
    <h2>Matchday {{fixture.matchDay}}</h2>
  </div>
  <div class="panel-body">
    <div class="date-wrapper" ng-repeat="gameDay in fixture.dates">
      <h3>{{gameDay.date | date:'EEEE, MMMM d, yyyy'}}</h3>
      <div class="well" ng-repeat="gameTime in gameDay.times">
        <h4>{{gameTime.date | date:'h:mm a'}}</h4>
        <div class="row">
          <div class="col-xs-12 col-sm-6 match-info" ng-repeat="game in gameTime.games">
            <div class="thumbnail">
              <div class="caption">
                <div class="home-team">
                  <a href="#/team/{{game.homeId}}">{{game.homeName}}
                    <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                  </a>
                </div>
                <div class="away-team">
                  <a href="#/team/{{game.awayId}}">{{game.awayName}}</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

